<h1>Sie koennen Fo Shizzle! Schreib einen Satze hier und seh!</h1>
<form action='/fo_shizzled'>

  <div class="form-group">
    <label for "pre_shizzle">Bitte schreib seine Satze hier</label>
    <input id="pre_shizzle" name="pre_shizzle" class="form-control" type="text">
  </div>

  
