<h3>Sie koennen Fo Shizzle!</h3>

<h4>Schreib einen Satze hier und seh wie es machen!</h4>

<form action="/fo_shizzled">

  <input placeholder="Bitte schreib sein Satz" id="pre_shizzle" name="pre_shizzle" type="text">


  <button type="submit">Fo Shizzle!</button>
</form>





<!-- <div class="form-group">
  <label for="pre_shizzle">Bitte schreib seine Satze hier</label>
  <input id="pre_shizzle" name="pre_shizzle" class="form-control" type="text">
</div> -->
